.jumbotron {
    background-image: url("/img/pizza.png");
    background-color: lightgray;
    height: 346px;
    width: 68%;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    & .welcome-banner {
        width: 100%;
        margin: auto;
    }
}